:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainDark: #000;
  --mainYellow: #ffa400;
}

body {
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue {
  color: var(--mainBlue);
}
.text-bright {
  color: var(--lightBlue);
}
.navbar {
  justify-content: flex-start !important;
}
.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainBlack);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}
.cards-slider-wrapper1{
  vertical-align: middle;
  display: inline-block;
  white-space:nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  position:relative;
  top:170px;
  display:flex;

}
img{
display:flex;
justify-content:space-between;
width: 220px;
height:auto;
display:inline-block;
  padding: 10px;
}
.prev, .next {

  height: 3%;
  cursor: pointer;
  color: yellow;
  transition: .6s ease;

}

.prev{
  position:relative;
  bottom:5px;
  right:51px;
}
.next{
  position:relative;
 bottom:15px;
 left:1260px;
}
.icon1{
  position:relative;
  top:-20px;
  right:2px;
}
.icon2{
  position:relative;
  top:-20px;
  left:2px;
}

::-webkit-scrollbar{
  width:10px;
  height:7px;
}

/* Track */
::-webkit-scrollbar-track{
  background:lightgrey;
  border-radius: 10px;

}

/* Handle */
::-webkit-scrollbar-thumb{
  background:rgb(169,169,169);
  border-radius: 10px;
  width:4em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.Fnt4{
  position:fixed;
  left:1.3em;
  color:black;
  text-decoration: none;
}
.Fnt2{
  position:fixed;
  left:10em;
  color:black;
  text-decoration: none;
}
.Fnt1{
  position:fixed;
  color:black;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
}
.SearchBar {
    height: 48px;
  width: 400px;
}

.title{
 cursor:text;
  position:relative;
  top:-1.0em;
  text-align: center;
  margin-right:auto;
  color:black;
  font-size:.8em;
}
.price{
  cursor:text;
  size:3em;
  position:relative;
  top:-.5em;
  color:black;

  text-align: center;
  margin-right:auto;
}
.detailcolor{
    position:relative;
    margin:0;

    top:0;
    left:0;

    width:100%;
    height: 200%;
    background:lightgrey;

}
.detailcolor1{
    position:fixed;
    margin:0;

    top:0%;
    left:0;

    width:100%;
    height: 100%;
    background:white;

}
.detailcolor2{
    position:absolute;
    margin:0;

    top:9%;
    left:0;

    width:100%;
    height: 100%;
    background:lightgrey;

}
.h1{
  position:relative;
  top:-40%;
  left:10%;
}
.signbutton{
  position:relative;
  bottom:-40%;
  left:-35%;
}
.element{
   position:relative;
   font-size: 2em;
   top:-3.2em;
   left:2.5em;
     font-family: "Times New Roman", Times, serif;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
}
.logoutbutton1{
  padding:.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius:.5em;
}
.cancelbutton{
  position:relative;
  left:-5.5em;
  top:1em;
}
.b{
  font-size:"15px";
}
form {
  width: 100%;
}

.loginBox {
  width: 50%;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%, 20%);
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
}

.signUpSubmit {
  margin: 25px 0 15px 0;
}

.pwStrRow {
  width: 63%;
  text-align: left;
  margin: auto;
  padding: 0;
  font-size: 12px;
}

.pwStrWeak {
  display: inline-block;
  position: relative;
  left: 0;
  padding: 0;
  margin: 0;
  color: gray;
}
.pwStrStrong {
  display: inline-block;
  position: relative;
  left: 77%;
  padding: 0;
  margin: 0;
  color: gray;
}

@media screen and (max-width: 550px) {
  .loginBox {
    width: 85%;
  }
}
input[type=text], select {
  width: 100%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  position: relative;
  left: 15px;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  left: 15px;
  width: 100%;
}
.form1{
  position: absolute;
  top:50px;
}
.label3{
  position:relative;
  left:15px;

}
.passwordf{
  position:relative;
  border-radius: 3px;
  padding: 6px;
  width:96%;
  left:15px;
  bottom:-6px;
  border-style: solid;
  border-color: lightgrey;
  }
.submitb{
  position: absolute;
  left:132px;
  top:200px;
  padding:10px;
 border-radius: 3px;
 color: black;
}
